*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
$primary-color: black;
$default-space: 20px;

@font-face {
    font-family: 'DellaRespira';
    src: url(./../fonts/DellaRespira-Regular.ttf);
}
@mixin flexCenter ($direction) {
    display: flex;
    flex-direction: $direction;
    align-items: center;
    justify-content: center;
}
//MOBILE FIRST SCSS
html {
    font-size: 62.5%;
}
body {
    width: 100%;
    height: 100%;
    font-family: 'DellaRespira';
    font-size: 1.6rem;
}
nav {
    padding-top: $default-space;
    font-family: 'DellaRespira';
    @include flexCenter(column);
    ul{
        width: 80%;
        @include flexCenter(row);
        justify-content: space-around;
        
        list-style: none;
        li {
            padding: 2vw;
        }
    }
}
h1 {
    font-size: 1.7rem;
}
.link {
    text-decoration: none;
    &:visited {
        color: $primary-color;
    }
}
.loading-container {
    @include flexCenter(column);
    padding-top: $default-space;
}
.books-container {
    @include flexCenter(column);
    padding-top: $default-space;
    li {
        list-style: none;
        padding: 10px;
        display: flex;
        align-items: center;
    }
}
.li-icon {
    margin-right: 10px;
}