* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: 'DellaRespira';
  src: url(./../fonts/DellaRespira-Regular.ttf);
}

html {
  font-size: 62.5%;
}

body {
  background-color: rgba(225, 222, 212, 0.603);
  width: 100%;
  height: 100%;
  font-family: 'DellaRespira';
  font-size: 1.6rem;
}

#root {
  width: 100%;
  height: 100%;
}

nav {
  background-color: #453226;
  padding-top: 20px;
  font-family: 'DellaRespira';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav ul {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
}

nav ul li {
  padding: 2vw;
}

h1 {
  font-size: 1.7rem;
  color: #cdb57e;
}

.link {
  text-decoration: none;
}

.link:visited {
  color: #cdb57e;
}

.content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loading-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.items-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 40px;
}

.item {
  margin-bottom: 20px;
  padding: 15px;
  width: 100%;
  color: #cdb57e;
  background-color: #453226;
  border-radius: 5px 20px 5px 20px;
  -webkit-box-shadow: 5px 5px 5px #c4b7b7;
          box-shadow: 5px 5px 5px #c4b7b7;
  border: none;
  font-family: "DellaRespira";
  font-size: 1.5rem;
  outline: none;
}

.li-icon {
  margin-right: 10px;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.loader {
  margin-top: 50%;
  border: 10px solid #cdb57e;
  -webkit-box-shadow: 0 0 10px #c5c5c5;
          box-shadow: 0 0 10px #c5c5c5;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  position: relative;
}

.loader-inside {
  width: 64px;
  height: 64px;
  border: 4px solid #cdb57e;
  border-top: 4px solid #453226;
  border-radius: 50%;
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -32px 0 0 -32px;
}
/*# sourceMappingURL=index.css.map */